<!-- Sidebar -->
<nav class="sidebar" [class.hidden]="isHidden">
  <div class="sidebar-header" >
    <h5><i class="fas fa-user-shield me-1 " ></i> Admin</h5>
  </div>

  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/dashboard">
        <i class="fas fa-tachometer-alt me-2"></i> Dashboard
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/annonces">
        <i class="fas fa-bullhorn me-2"></i> Annonces
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/candidats">
        <i class="fas fa-users me-2"></i> Candidats
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/annees-academiques">
        <i class="fas fa-calendar-alt me-2"></i> Années Académiques
      </a>
    </li>

  </ul>

  <!-- Bouton de Déconnexion -->
  <div class="sidebar-footer">
    <a class="nav-link" routerLink="/logout" (click)="logout()">
      <i class="fas fa-sign-out-alt me-2"></i> Déconnexion
    </a>
  </div>
</nav>

