// nav.sidebar {
//     height: 200%;
//     margin-top: -3%;
//   z-index: 1000;}




.sidebar {
  width: 250px;
  height: calc(100vh - 56px); /* Ajuste selon la hauteur de la navbar */
  background-color: #343a40;
  color: white;
  position: fixed;
  top: 56px; /* Ajuste selon la hauteur de la navbar */
  left: 0;
  z-index: 999; /* Assure que la sidebar est en dessous de la navbar */
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
}
.sidebar.hidden {
  transform: translateX(-100%);
}

.sidebar-header {
  padding: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebar-header h5 {
  margin: 0;
}

.nav {
  flex-grow: 1; /* Prend tout l'espace disponible */
  overflow-y: auto; /* Permet le scroll si nécessaire */
}

.nav-link {
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  display: block;
  transition: background 0.3s ease;
}

.nav-link:hover {
  background: rgba(255, 255, 255, 0.1);
}

.sidebar-footer {
  padding: 10px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
