<!-- Sidebar -->
<nav class="sidebar" [class.hidden]="isHidden">
  <div class="sidebar-header">
    <h5 *ngIf="isSuperAdmin"><i class="fas fa-user-shield me-1 "></i> Super Admin</h5>
    <h5 *ngIf="!isSuperAdmin"><i class="fas fa-user-shield me-1 "></i> Admin</h5>
  </div>

  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/dashboard">
        <i class="fas fa-tachometer-alt me-2"></i> Dashboard
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/annonces">
        <i class="fas fa-bullhorn me-2"></i> Annonces
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/annees-academiques">
        <i class="fas fa-calendar-alt me-2"></i> Années Académiques
      </a>
    </li>
    <!-- Conditionnellement visible uniquement pour admin@admin.com -->
    <li class="nav-item" *ngIf="isSuperAdmin">
      <a class="nav-link" routerLink="/admin/manage-admins">
        <i class="fas fa-users-cog me-2"></i> Gérer Admins
      </a>
    </li>
    <li class="nav-item">
      <a [routerLink]="['/admin/manage-candidats']" routerLinkActive="active" class="nav-link">
        <i class="fas fa-users me-2"></i>
        <span>Gestion des Candidats</span>
      </a>
    </li>
  </ul>

  <!-- Bouton de Déconnexion -->
  <div class="sidebar-footer">
    <a class="nav-link" routerLink="/logout" (click)="logout()">
      <i class="fas fa-sign-out-alt me-2"></i> Déconnexion
    </a>
  </div>
</nav>