<!-- Navbar Start -->
<div class="container-fluid d-flex justify-content-between bg-light fixed-top">
  <div class="row px-xl-5 align-items-center">
    <a href="#" class="text-decoration-none">
      <img src="/assets/images/logo.png" alt="Logo" style="height: 70px; max-width: 70px;">
    </a>
  </div>

  <!-- Liens de navigation  -->
  <div class="col-6 col-lg-10">
    <nav class="navbar navbar-expand-lg">
      <div class="navbar-nav text-center text-lg-start w-100 py-2 d-flex justify-content-end align-items-center">
        <a routerLink="/accueil" routerLinkActive="color-me" class="nav-item nav-link text-black px-2">
          Accueil
        </a>
        <a routerLink="/annonce" routerLinkActive="color-me" class="nav-item nav-link text-black px-2">
          Annonces
        </a>
        <a routerLink="/about" routerLinkActive="color-me" class="nav-item nav-link text-black px-2">
          À propos
        </a>
        <a routerLink="/contact" routerLinkActive="color-me" class="nav-item nav-link text-black px-3">
          Contact
        </a>

        <!-- Afficher le bouton de connexion ou le profil selon l'état de connexion -->
        <ng-container *ngIf="!isLoggedIn; else profileButtons">
          <a routerLink="/login" class="login-btn btn btn-dark text-white py-md-1 px-md-2 font-weight-semi-bold">
            Se connecter
          </a>
        </ng-container>

        <div class="dropdown">
          <a class="profile-btn" href="#" role="button" (click)="toggleDropdown($event)">
            <img [src]="userAvatar" alt="Avatar" style="height: 50px; width: 50px; border-radius: 50%;"
              (error)="onImageError($event)">
          </a>
          <ul class="dropdown-menu dropdown-menu-end" [class.show]="showDropdown">
            <li><a class="dropdown-item" routerLink="/profil">
                <i class="fas fa-user"></i> Profil
              </a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="javascript:void(0)" (click)="logout()">
                <i class="fas fa-sign-out-alt"></i> Déconnexion
              </a></li>
          </ul>
        </div>

      </div>
    </nav>
  </div>
</div>
<!-- Navbar End -->