<!-- Topbar Start -->
<div class="container-fluid bg-light py-2 d-none d-lg-block"> <!-- Masqué sur mobile -->
  <div class="row align-items-center justify-content-between px-xl-5">
    <!-- Logo -->
    <div class="col-lg-3 d-flex justify-content-start">
      <a href="#" class="text-decoration-none">
        <img src="/assets/images/image-accueil.jpg" alt="Logo" style="height: 66px; max-width: 98px;">
      </a>
    </div>

    <!-- Localisation -->
    <div class="col-lg-3 d-flex justify-content-center">
      <div class="d-flex align-items-center">
        <i class="fa fa-2x fa-map-marker-alt mr-2 mx-2" style="color: var(--primary-color)"></i>
        <div class="text-left">
          <h6 class="font-weight-semi-bold mb-1">Localisation</h6>
          <small>Dakar, Mermoz, Sacrée-Cœur</small>
        </div>
      </div>
    </div>

    <!-- Email -->
    <div class="col-lg-3 d-flex justify-content-center">
      <div class="d-flex align-items-center">
        <i class="fa fa-2x fa-envelope mr-2 mx-2" style="color: var(--primary-color)"></i>
        <div class="text-left">
          <h6 class="font-weight-semi-bold mb-1">Email</h6>
          <small>info&#64;unchk.sn</small>
        </div>
      </div>
    </div>

    <!-- Contact -->
    <div class="col-lg-3 d-flex justify-content-end">
      <div class="d-flex align-items-center">
        <i class="fa fa-2x fa-phone mr-2 mx-2" style="color: var(--primary-color)"></i>
        <div class="text-left">
          <h6 class="font-weight-semi-bold mb-1">Contact</h6>
          <small>+33 833 44 67</small>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Topbar End -->

<!-- Navbar Start -->
<div class="container-fluid">
  <div class="row border-top px-xl-5 bg-light align-items-center">
    <!-- Titre -->
    <div class="col-6 col-lg-2 d-flex align-items-center justify-content-center py-2 ">
      <h6 class="fw-bold text-dark" style="color: var(--primary-color)">Recrutement Tuteur</h6>
    </div>

    <!-- Menu principal -->
    <div class="col-6 col-lg-10">
      <nav class="navbar navbar-expand-lg bg-light py-3">
        <!-- Bouton Menu Burger aligné à droite -->
        <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
          <!-- Liens de navigation -->
          <div class="navbar-nav text-center text-lg-start w-100 gap-3 py-2">
            <a href="index.html" class="nav-item nav-link text-black px-3">
              <i class="fa fa-home mr-2" style="color: var(--primary-color)"></i> Accueil
            </a>
            <a href="about.html" class="nav-item nav-link text-black px-3">
              <i class="fa fa-info-circle mr-2" style="color: var(--primary-color)"></i> À propos
            </a>
            <a class="nav-item nav-link text-black px-3" routerLink="/annonce">
              <i class="fa fa-file-contract mr-2" style="color: var(--primary-color)"></i> Appel d'offre
            </a>
            <a href="teacher.html" class="nav-item nav-link text-black px-3">
              <i class="fa fa-university mr-2" style="color: var(--primary-color)"></i> Université
            </a>
            <a href="contact.html" class="nav-item nav-link text-black px-3">
              <i class="fa fa-envelope mr-2" style="color: var(--primary-color)"></i> Contact
            </a>
          </div>

          <!-- Bouton Guide totalement à droite -->
          <div class="d-flex justify-content-end">
            <a class="btn btn-light px-4 d-flex align-items-center gap-1" href="">
              <i class="fa fa-book text-center" style="color: var(--primary-color)"></i> Guide
            </a>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>
<!-- Navbar End -->
