<div class="container-fluid  text-white pt-5 pb-4" style="background-color: #44425A;">
    <div class="container py-5">
        <div class="row justify-content-between">
            <!-- Informations sur l'UNCHK -->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4" style="color: #FF6600;">UNCHK</h4>
                <p>L'Université Numérique Cheikh Hamidou Kane vous offre un environnement d'enseignement stimulant et valorisant pour partager votre expertise.</p>
                <div class="d-flex justify-content-start mt-4">
                    <a class="btn icon-social  rounded-circle text-center me-2 px-0" style="width: 38px; height: 38px; color: #FF6600; border-color: #FF6600;" href="#"><i class="fab fa-twitter"></i></a>
                    <a class="btn icon-social  rounded-circle text-center me-2 px-0" style="width: 38px; height: 38px; color: #FF6600; border-color: #FF6600;" href="#"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn icon-social  rounded-circle text-center me-2 px-0" style="width: 38px; height: 38px; color: #FF6600; border-color: #FF6600;" href="#"><i class="fab fa-linkedin-in"></i></a>
                    <a class="btn icon-social  rounded-circle text-center px-0" style="width: 38px; height: 38px; color: #FF6600; border-color: #FF6600;" href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            
            <!-- S'inscrire -->
            <div class="col-lg-4 col-md-12">
                <h4 class=" text-uppercase mb-4" style="color: #FF6600;">Rejoignez notre équipe</h4>
                <a href="/login" class="login-btn btn btn-dark text-white py-md-2 px-md-4 font-weight-semi-bold " style="background-color: #FF6600;">Rejoindre Maintenant</a>
            </div>
        </div>
    </div>
    
    <!-- Copyright -->
    <div class="container-fluid  text-white border-top py-4 px-sm-3 px-md-5" style="border-color: rgba(256, 256, 256, .1) !important;">
        <div class="row">
            <div class="col-lg-6 text-center text-md-start mb-3 mb-md-0">
                <p class="m-0 text-white">&copy; <a href="#" style="color: #FF6600;">UNCHK</a>. Tous droits réservés. Conçu par <a href="#" style="color: #FF6600;">UNCHK</a></p>
            </div>
            <div class="col-lg-6 text-center text-md-end">
                <ul class="nav d-inline-flex">
                    <li class="nav-item">
                        <a class="nav-link text-white py-0 " href="#">Confidentialité</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white py-0" href="#">Conditions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white py-0" href="#">FAQ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white py-0" href="#">Support</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>