<div class="admin-container">
  <h1>Ajout d'Annonces</h1>

  <form [formGroup]="annonceForm" (ngSubmit)="ajoutAnnonce()" class="annonce-form">
    <div class="form-container">
      <mat-form-field appearance="fill">
        <mat-label>Titre</mat-label>
        <input matInput formControlName="title" required>
        <mat-error *ngIf="annonceForm.get('title')?.hasError('required')">Le titre est obligatoire</mat-error>
        <mat-error *ngIf="annonceForm.get('title')?.hasError('minlength')">Le titre doit contenir au moins 3
          caractères</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description" required rows=""></textarea>
        <mat-error *ngIf="annonceForm.get('description')?.hasError('required')">La description est
          obligatoire</mat-error>
        <mat-error *ngIf="annonceForm.get('description')?.hasError('minlength')">La description doit contenir au moins 5
          caractères</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Date de publication</mat-label>
        <input matInput type="date" formControlName="publicationDate" required [min]="minDate" >
        <mat-error *ngIf="annonceForm.get('publicationDate')?.hasError('required')">La date de publication est
          obligatoire</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" style="background: transparent;">
        <mat-label>Date limite</mat-label>
        <input matInput type="date" formControlName="closingDate" required [min]="minDate" >
        <mat-error *ngIf="annonceForm.get('closingDate')?.hasError('required')">La date limite est
          obligatoire</mat-error>
      </mat-form-field>
      
      <!-- Messages d'erreur pour les validations de date -->
      <div *ngIf="hasDateErrors" class="date-error-messages">
        <div class="error-message" *ngIf="publicationAfterClosingError">
          La date de publication ne peut pas être postérieure à la date limite.
        </div>
        <div class="error-message" *ngIf="publicationInFutureError">
          La date de publication ne peut pas être antérieure à la date actuelle.
        </div>
        <div class="error-message" *ngIf="closingInFutureError">
          La date limite ne peut pas être antérieure à la date actuelle.
        </div>
        <div class="error-message" *ngIf="publicationYearBeforeCurrentError">
          L'année de publication ne peut pas être antérieure à l'année actuelle.
        </div>
      </div>

      <mat-form-field appearance="fill">
        <mat-label>Selectionner le statut</mat-label>
        <mat-select formControlName="status" required>
          <mat-option disabled spellcheck="true">selectionner le status</mat-option>
          <mat-option value="PUBLISHED" >Publié maintenant</mat-option>
          <mat-option value="DRAFT">Mettre en brouillon</mat-option>
          <mat-option value="CLOSE">Ne pas publié</mat-option>
        </mat-select>
        <mat-error *ngIf="annonceForm.get('status')?.hasError('required')">Le statut est obligatoire</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Année Académique</mat-label>
        <mat-select formControlName="academicYearId" required>
          <mat-option *ngFor="let year of filteredAcademicYears" [value]="year.id">{{ year.yearName }}</mat-option>
        </mat-select>
        <mat-error *ngIf="annonceForm.get('academicYearId')?.hasError('required')">L'année académique est
          obligatoire</mat-error>
      </mat-form-field>
    </div>
    
    <div>
      <div class="button-group">
        <button mat-raised-button type="submit" [disabled]="annonceForm.invalid">
          {{ isEditing ? 'Modifier' : 'Ajouter' }}
        </button>
        <button mat-raised-button color="warn" type="button" (click)="resetForm()">Annuler</button>
      </div>
    </div>
  </form>
</div>