<div class="header">
  <button mat-button class=" add-button" [routerLink]="'/admin/annonces/nouvelle'">Ajouter une Annonce</button>
  <mat-form-field appearance="outline">
    <mat-label>Rechercher une annonce</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex: offre d'emploi">
  </mat-form-field>
</div>


<h2 class="text-center mt-4 ">Liste des Annonces</h2>
<table mat-table [dataSource]="dataSource" class=" mt-4 table table-striped">

  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef class="gras"> Titre </th>
    <td mat-cell *matCellDef="let element"> {{element.title}} </td>
  </ng-container>

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef class="gras"> Description </th>
    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
  </ng-container>

  <ng-container matColumnDef="publicationDate">
    <th mat-header-cell *matHeaderCellDef class="gras">Date de Publication </th>
    <td mat-cell *matCellDef="let element">
      {{ element.publicationDate | date:'dd MMMM yyyy' }}
    </td>
  </ng-container>

  <ng-container matColumnDef="closingDate">
    <th mat-header-cell *matHeaderCellDef class="gras">Date de fermeture </th>
    <td mat-cell *matCellDef="let element">
      {{ element.closingDate | date:'dd MMMM yyyy' }}
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef class="gras"> Actions </th>
    <td mat-cell *matCellDef="let element">
      <button  class="btn btn-danger"  (click)="deleteAnnonce(element.id)">Supprimer</button>
      <button data-bs-toggle="modal" data-bs-target="#editAcademicYearModal"class="btn modifier" (click)="editAnnonce(element)" data-bs-target="#annonceModal">Modifier</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator class="mt-5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>



<!-- Modal pour modification annonce -->
<div class="modal fade" id="annonceModal" tabindex="-1" aria-labelledby="annonceModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="annonceModalLabel">Modifier l'annonce</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <form [formGroup]="annonceForm">
                  <div class="row g-3">
                      <div class="col-md-6">
                          <input type="text" class="form-control" formControlName="title" placeholder="Titre*" required>
                      </div>
                      <div class="col-md-6">
                          <textarea class="form-control" formControlName="description" placeholder="Description*" required></textarea>
                      </div>
                      <div class="col-md-6">
                          <input type="date" class="form-control" formControlName="publicationDate" placeholder="Date de publication*" required>
                      </div>
                      <div class="col-md-6">
                          <input type="date" class="form-control" formControlName="closingDate" placeholder="Date limite*" required>
                      </div>
                      <div class="col-md-6">
                          <select class="form-select" formControlName="status" required>
                              <option value="DRAFT">DRAFT</option>
                              <option value="PUBLISHED">PUBLISHED</option>
                              <option value="CLOSED">CLOSED</option>
                          </select>
                      </div>
                      <div class="col-md-6">
                        <select class="form-select" formControlName="academicYearId" required>
                          <option *ngFor="let year of filteredAcademicYears" [value]="year.id">
                            {{ year.yearName }}
                          </option>
                        </select>

                      </div>
                  </div>
                  <div class="d-flex justify-content-center mt-4">
                      <button type="button" class="btn me-3 Sauvegarder" (click)="updateAnnonce()">Modifier</button>
                      <button type="button" class="btn btn-secondary" (click)="closeModal()">Annuler</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>

