<div class="header">

    <mat-form-field appearance="outline">
        <mat-label>Rechercher un candidat</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex: nom, email...">
    </mat-form-field>
</div>

<h2 class="text-center mt-0" style="color: #FF6600;">Gestion des Candidats</h2>

<div class="alert alert-info mb-4" *ngIf="isSuperAdmin">
    <i class="fas fa-info-circle me-2"></i>
    En tant qu'administrateur, vous pouvez gérer tous les candidats de la plateforme.
</div>

<table mat-table [dataSource]="dataSource" class="mt-4 table table-striped">
    <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef class="gras">Candidat</th>
        <td mat-cell *matCellDef="let candidate">
            <div class="d-flex align-items-center">
                <div class="me-2">
                    <img [src]="getProfileImageUrl(candidate.profilePicture)" alt="Photo de profil"
                        class="rounded-circle" width="30" height="30" />
                </div>
                <div>
                    {{candidate.firstName}} - {{candidate.lastName}}
                </div>
            </div>
        </td>
    </ng-container>

    <!-- Colonne Email -->
    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef class="gras">Email</th>
        <td mat-cell *matCellDef="let candidate">{{candidate.email}}</td>
    </ng-container>

    <!-- Colonne Date de création -->
    <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef class="gras">Date d'inscription</th>
        <td mat-cell *matCellDef="let candidate">{{candidate.createdAt | date:'dd/MM/yyyy'}}</td>
    </ng-container>
    <!-- Colonne Actions -->
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="gras">Actions</th>
        <td mat-cell *matCellDef="let candidate"
            style="display: flex; align-items: center;  gap: 10px;">
            <button class="btn btn-primary" (click)="editCandidate(candidate)"
                style="display: flex; align-items: center;">
                <i class="fas fa-edit"></i>
            </button>
            <button class="btn btn-danger" (click)="deleteCandidate(candidate.email)"
                style="display: flex; align-items: center;">
                <i class="fas fa-trash-alt"></i>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<div *ngIf="dataSource.data.length === 0" class="text-center mt-4">
    <p>Aucun candidat trouvé.</p>
</div>

<mat-paginator class="mt-5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

<!-- Modal pour  modifier un candidat -->
<div class="modal fade" id="candidateModal" tabindex="-1" aria-labelledby="candidateModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="candidateModalLabel">
                    <i class="fas" [ngClass]="isEditMode ? 'fa-user-edit' : 'fa-user-plus'" class="me-2"></i>
                    {{ isEditMode ? 'Modifier un Candidat' : 'Ajouter un Candidat' }}
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="candidateForm">
                    <div class="form-container">
                        <div class="form-row">
                            <div class="form-group">
                                <label for="firstName">Prénom<span class="text-danger">*</span></label>
                                <input type="text" id="firstName" class="form-control" formControlName="firstName"
                                    required>
                                <div class="form-text text-danger"
                                    *ngIf="candidateForm.get('firstName')?.invalid && candidateForm.get('firstName')?.touched">
                                    Le prénom est obligatoire
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="lastName">Nom<span class="text-danger">*</span></label>
                                <input type="text" id="lastName" class="form-control" formControlName="lastName"
                                    required>
                                <div class="form-text text-danger"
                                    *ngIf="candidateForm.get('lastName')?.invalid && candidateForm.get('lastName')?.touched">
                                    Le nom est obligatoire
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="email">Email<span class="text-danger">*</span></label>
                            <input type="email" id="email" class="form-control" formControlName="email" required>
                            <div class="form-text text-danger"
                                *ngIf="candidateForm.get('email')?.invalid && candidateForm.get('email')?.touched">
                                Veuillez entrer une adresse email valide
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="password">
                                {{ isEditMode ? 'Mot de passe (laisser vide pour conserver l\'actuel)' : 'Mot de passe'
                                }}
                                <span class="text-danger" *ngIf="!isEditMode">*</span>
                            </label>
                            <input type="password" id="password" class="form-control" formControlName="password"
                                [required]="!isEditMode">
                            <div class="form-text text-danger"
                                *ngIf="candidateForm.get('password')?.invalid && candidateForm.get('password')?.touched && candidateForm.get('password')?.value !== ''">
                                Le mot de passe doit contenir au moins 6 caractères
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-save" [disabled]="candidateForm.invalid"
                            (click)="saveCandidate()">
                            <i class="fas" [ngClass]="isEditMode ? 'fa-check' : 'fa-save'" class="me-2"></i>
                            {{ isEditMode ? 'Mettre à jour' : 'Enregistrer' }}
                        </button>
                        <button type="button" class="btn btn-cancel" (click)="closeModal()">
                            <i class="fas fa-times me-2"></i>Annuler
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>