.admin-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;


}

.admin-content {
  flex-grow: 1;
  padding: 20px;
  margin-top: 56px; /* Ajuste selon la hauteur de la navbar */
  transition: margin-left 0.3s ease;


  // LOY XOLATE LAA YAKO YOK PR CONTENU BI BAGNA LALL SIDEBAR BI
  margin-left: 13%;
}


/* Décaler le contenu lorsque la sidebar est ouverte */
.sidebar:not(.hidden) + .admin-content {
  margin-left: 250px;
}

/* Sur les petits écrans */
@media (max-width: 768px) {
  .admin-content {
    margin-left: 0;
  }

  .sidebar:not(.hidden) + .admin-content {
    margin-left: 250px;
  }
}
