<div class="form-container">
  <h2>Année Académique</h2>
  <form [formGroup]="academicYearForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="yearName">Année</label>
      <input id="yearName" formControlName="yearName" type="text" class="form-control" placeholder="Ex: 2023-2024" [ngClass]="{'is-invalid': academicYearForm.get('yearName')?.invalid && academicYearForm.get('yearName')?.touched}">
      <div *ngIf="academicYearForm.get('yearName')?.invalid && academicYearForm.get('yearName')?.touched" class="error-message">
        <small *ngIf="academicYearForm.get('yearName')?.hasError('required')">L'année est obligatoire.</small>
        <small *ngIf="academicYearForm.get('yearName')?.hasError('pattern')">Veuillez entrer une année valide (Ex: 2023-2024).</small>
      </div>
    </div>

    <div class="form-group">
      <label for="startDate">Date de Début</label>
      <input id="startDate" formControlName="startDate" type="date" class="form-control" [ngClass]="{'is-invalid': academicYearForm.get('startDate')?.invalid && academicYearForm.get('startDate')?.touched}">
      <div *ngIf="academicYearForm.get('startDate')?.invalid && academicYearForm.get('startDate')?.touched" class="error-message">
        <small *ngIf="academicYearForm.get('startDate')?.hasError('required')">La date de début est obligatoire.</small>
      </div>
    </div>

    <div class="form-group">
      <label for="endDate">Date de Fin</label>
      <input id="endDate" formControlName="endDate" type="date" class="form-control" [ngClass]="{'is-invalid': academicYearForm.get('endDate')?.invalid && academicYearForm.get('endDate')?.touched}">
      <div *ngIf="academicYearForm.get('endDate')?.invalid && academicYearForm.get('endDate')?.touched" class="error-message">
        <small *ngIf="academicYearForm.get('endDate')?.hasError('required')">La date de fin est obligatoire.</small>
        <small *ngIf="academicYearForm.get('endDate')?.hasError('dateValidation')">La date de fin doit être postérieure à la date de début.</small>
      </div>
    </div>

    <button type="submit" class="btn" [disabled]="academicYearForm.invalid">Ajouter</button>
  </form>
</div>
