<body>
  <div class="containerInscription ">
    <div class="inscription  shadow">
      <div class="cadre shadow mb-5 mt-5 ">
        <h1 class="text-center fw-bold mb-5 mt-5" style="color:WHITE;">INSCRIPTION</h1>
        <form action="" class="mb-3 px-5">
          <div class="mb-3">
            <input type="text" name="nom" class="form-control" id="nomInput" placeholder="Nom"
           >
          </div>
          <div class="mb-3">
            <input type="text" name="prenom" class="form-control" id="prenomInput" placeholder="Prénom"
           >
          </div>
          <div class="mb-3">
            <input type="email" name="email" class="form-control" id="emailInput" placeholder="Email"
           >
          </div>
          <div class="mb-3">
            <input type="password" name="password" class="form-control" id="passwordInput"
              placeholder="Mot de passe" >
          </div>
          <div class="mb-3">
            <input type="confirmationpassword" name="confirmationpassword" class="form-control" id="confirmationpasswordInput"
              placeholder="Confirmation mot de passe" >
          </div>
          <div class="btn-auth text-center center">
            <button type="button" class="btn btn-inscription me-3" >S'inscrire</button>
          </div>
          <p class="login-card-footer-text mt-3 text-center" style="color: white;">Déja un compte ? <a
              style="color: var(--primary-color); cursor:pointer"  >Se connecter</a></p>
        </form>
      </div>
    </div>
  </div>
</body>
